.env
.env.backup
.env.dev
.env.production
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
.vapor/
/.idea
/.vagrant
/.vapor
/.vscode
/node_modules
/public/css/
/public/hot
/public/js/
/public/storage
/storage/*.key
/vendor
/vendor/
Homestead.json
Homestead.yaml
build
composer.lock
coverage
database/documents
docker-compose.override.yml
node_modules
node_modules/
npm-debug.log
phpstan.neon
phpunit.xml
public/hot
public_html/hot
public_html/storage
storage
storage/*.key
testbench.yaml
vendor
yarn-error.log
storage/mindwave/*
